{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block content %}

{% if user.is_authenticated %}

<p>Hi {{ user.username }}!</p>

{% if user.is_staff %}
<h3>You are staff </h3>
{% if user.username == 'admin' %}
<p>Admin is cool</p>
{% endif %}

{% else %}

<h4>You are NOT staff </h4>
{% endif %}


<br>
<p><a href="{% url 'logout' %}">logout</a></p>

{% else %}
<div style=" width: 100%; max-width:330px; padding:15px; margin: 0 auto;">

    <a href="{% url 'login' %}">Please Login</a>
    <p>
        or <br>
        <a href="{% url 'signup' %}">Sign up </a> <br>
        Your role will be given by the admin
    </p>
</div>



{% endif %}



{% endblock %}