{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block content %}

{% if user.is_authenticated %}

    <p>Hi {{ user.username }}! You are a {{ user.profile.role }}</p>

    {% if user.profile.role == 2 %}
        <h3> You can grade  </h3>

    {% else %}

    <h4> You cannot grade </h4>
    {% endif %} <!-- user.is_staff -->


    <br>
    <p><a href="{% url 'logout' %}">logout</a></p>

{% else %}
    <div style=" width: 100%; max-width:330px; padding:15px; margin: 0 auto;">

        <a href="{% url 'login' %}">Please Login</a>
        <p>
            or <br>
            <a href="{% url 'signup' %}">Sign up </a> <br>
            Your role will be given by the admin
        </p>
    </div>



{% endif %} <!-- user.is_authenticated -->



{% endblock %}